@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url(https://unpkg.com/font-awesome/css/font-awesome.min.css);


article.gcds-breadcrumbs {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

h2#subtitle {
    color: #d3d3d3;
    margin: 0;
    font-size: 1.3rem;
}

#timestamp-list p {
    margin-bottom: 0!important;
}
#main-content {
    margin-top: -3.75rem !important
}

.dt-scroll-body {
    overflow-y: hidden !important;
}

.dt-scroll:has(> .scrolled-left) {
    box-shadow: inset -10px -20px 10px rgba(0, 0, 0, .08);   
}

.dt-scroll:has(> .scrolled-right) {
    box-shadow: inset 10px -20px 10px rgba(0, 0, 0, .08);   
}

.dt-scroll:has(> .scrolled-left).dt-scroll:has(> .scrolled-right) {
    box-shadow: inset 0px -20px 20px rgba(0, 0, 0, .2);
}

[data-dt-column="2"], [data-dt-column="4"] {
    min-width: 32ch;
}

/* .scrolled-left {
    box-shadow: inset -10px -5px 10px rgba(0, 0, 0, 1);
}
.scrolled-right {
    box-shadow: inset 10px -5px 10px rgba(0, 0, 0, 1);
}

.scrolled-right.scrolled-left {
    box-shadow: inset 0px -5px 20px rgba(0, 0, 0, 1);
}
 */
/* .scrolled-left::after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 10px;
    pointer-events: none;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
    top: 0;
} */

/* .dt-scroll-body::after {
    content: '';
    float:left;
    position: absolute;
    left: 0;
    height: 100%;
    width: 10px;
    pointer-events: none;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
    background: red;
    top: 0;
}
 */
.spacer {
    display: block;
    width: 1px;
    visibility: hidden;
}

/* Target the cells within the 'Hyperlinks' column */
#catalogueTable td a {
    display: inline-block;
    /* Ensures the element takes up space */
    max-width: 18vw;
    /* Adjust this to your desired maximum width */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Adds "..." if the URL is truncated */
    white-space: nowrap;
    /* Prevents the URL from wrapping to the next line */
    color: var(--gcds-link-default);
}

/* Optional: Style for the shortened URL */
#catalogueTable td a::before {
    content: "\f0c1";
    /* This is for the chain icon in FA 6+ */
    font-family: "Font Awesome 6 Free", FontAwesome;
    color: var(--gcds-link-default);
    display: inline-block;
    user-select: none;
    padding-right: 0.5ch;
    aria-hidden: true;
    /* Tell screen readers to ignore it */
}

.toggle-vis:hover {
    cursor: pointer;
    background: var(--gcds-color-blue-900) !important;
    color: var(--gcds-text-light) !important;

}

.toggle-vis {
    padding: 5px;
    margin: auto 2px !important;
}

.visible-column {
    background: var(--gcds-color-blue-900) !important;
    color: var(--gcds-text-light) !important;
    text-decoration: none !important;
}

.toggle-columns {
    padding: 1rem auto;
}

.toggle-columns button {
    display: inline-block;
    background-color: transparent;
    color: var(--gcds-text-primary);
    text-decoration: underline;
}

/*
.toggle-columns button:after {
  content: "-";
  display: inline-block;
  padding: 0 .5ch;
  pointer-events:none;
  user-select: none;
}


.toggle-columns button:last-child:after {
  content:""
}*/

.content-wrapper {
    margin-top: -12px;
}

a {
    color: var(--gcds-link-default);
}

article {
    padding: var(--gcds-spacing-500);
}

.mb-400 {
    -webkit-margin-after: var(--gcds-spacing-400);
    margin-block-end: var(--gcds-spacing-400)
}


.h1-dark {
    background-color: var(--gcds-color-blue-900)
}

.text-light,
.text-light a {
    color: var(--gcds-text-light)
}

.text-light a {
    text-decoration: underline;
}

h1 {
    font: var(--gcds-heading-h1-desktop);
}

h1::after {
    display: block;
    content: "";
    width: var(--gcds-heading-h1-border-width);
    -webkit-margin-before: var(--gcds-heading-h1-border-margin);
    margin-block-start: var(--gcds-heading-h1-border-margin);
    height: var(--gcds-heading-h1-border-height);
    background-color: var(--gcds-heading-h1-border-background);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

a {
    text-underline-position: under;
    text-underline-offset: -.1em;
    text-decoration-thickness: var(--gcds-border-width-sm);
    -webkit-transition: all .35s;
    transition: all .35s
}

a:hover {
    text-decoration-thickness: var(--gcds-border-width-md)
}

body {
    font: var(--gcds-font-text);
    color: var(--gcds-text-primary)
}

@media only screen and (width < 48em) {
    body {
        font: var(--gcds-font-text-mobile)
    }
}

button {
    border: 0;
    cursor: pointer
}

fieldset {
    border: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance
}

h1 {
    max-width: var(--gcds-heading-character-limit-h1);
    font: var(--gcds-heading-h1-desktop)
}

h1:after {
    display: block;
    content: "";
    width: var(--gcds-heading-h1-border-width);
    -webkit-margin-before: var(--gcds-heading-h1-border-margin);
    margin-block-start: var(--gcds-heading-h1-border-margin);
    height: var(--gcds-heading-h1-border-height);
    background-color: var(--gcds-heading-h1-border-background)
}

@media only screen and (width < 48em) {
    h1 {
        font: var(--gcds-heading-h1-mobile)
    }
}

h2 {
    max-width: var(--gcds-heading-character-limit-h2);
    font: var(--gcds-heading-h2-desktop)
}

@media only screen and (width < 48em) {
    h2 {
        font: var(--gcds-heading-h2-mobile)
    }
}

h3 {
    max-width: var(--gcds-heading-character-limit-h3);
    font: var(--gcds-heading-h3-desktop)
}

@media only screen and (width < 48em) {
    h3 {
        font: var(--gcds-heading-h3-mobile)
    }
}

h4 {
    max-width: var(--gcds-heading-character-limit-h4);
    font: var(--gcds-heading-h4-desktop)
}

@media only screen and (width < 48em) {
    h4 {
        font: var(--gcds-heading-h4-mobile)
    }
}

h5 {
    max-width: var(--gcds-heading-character-limit-h5);
    font: var(--gcds-heading-h5-desktop)
}

@media only screen and (width < 48em) {
    h5 {
        font: var(--gcds-heading-h5-mobile)
    }
}

h6 {
    max-width: var(--gcds-heading-character-limit-h6);
    font: var(--gcds-heading-h6-desktop)
}

@media only screen and (width < 48em) {
    h6 {
        font: var(--gcds-heading-h6-mobile)
    }
}

hr {
    border: 1px solid var(--gcds-color-grayscale-300)
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

body,
html {
    overflow-x: hidden;
    width: 100%
}

img {
    max-width: 100%
}

input,
select,
textarea {
    font-family: inherit;
    font-size: inherit
}

/* ol, ul {
    list-style: none
}*/

.list-disc li {
    margin-left: 2em;
}

p {
    font: var(--gcds-font-text);
    line-height: 160%!important;
}

@media only screen and (width < 48em) {
    p {
        font: var(--gcds-font-text-mobile)
    }
}
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
small {
    font: var(--gcds-font-caption)
}

@media only screen and (width < 48em) {
    small {
        font: var(--gcds-font-caption-mobile)
    }
}


p {
    max-width: var(--gcds-text-character-limit);
    font: var(--gcds-font-text)
}

.mb-300 {
    -webkit-margin-after: var(--gcds-spacing-300);
    margin-block-end: var(--gcds-spacing-300);
}

strong {
    font-weight: var(--gcds-font-weights-bold)
}

.highlight {
    background-color: rgba(211, 8, 12, 0.5);
}

select[name="catalogueTable_length"] {
    margin-right: .5ch;
}

:root {
    --gcds-font-families-icons: "Font Awesome 6 Free", FontAwesome;
}

/* Infobase tabbed interface */

    nav {
        padding: 0 var(--gcds-spacing-500);
    }

    nav li {
        margin-left: 0;
    }

    nav ul {
        margin-bottom: 0!important;
    }

    .tabNav {
        padding: 0!important;
    }
    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 10px 14px;
        font-size: 16px;
        line-height: 1.4375;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    .btn-tabs {
    background-color: #F5F5F5;
    color: #2b4380;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0px;
    }
            
    .btn-tabs:hover {
    background-color:#26374A;
    color: #FFF;
    }
     
    .btn-tabs.active {
    background-color: #26374A;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
    border-radius: 0px;
    }
            
      
    .btn-tabs-mobile {
    background-color: #F5F5F5;
    color: #2b4380;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0px;
    padding:10px 0px
    }
            
      
    .btn-tabs-mobile.active {
    background-color: #F5F5F5;
    color: #26374A;
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 5px solid #26374A;
    }
        
    .btn-tabs, .btn-tabs:visited {
    display: inline-block;
    text-decoration: none;
    }
    .well {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
    }

    .well blockquote {
        border-color: #ddd;
        border-color: rgba(0,0,0,.15)
    }

    .well-lg {
        padding: 24px;
        border-radius: 6px
    }

    .well-sm {
        padding: 9px;
        border-radius: 3px
    }

    .list-inline {
        padding-left: 0;
        list-style: none;
        margin-left: -5px
    }
    
    .list-inline>li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px
    }

.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;    
    color: #FFF;
}

.btn.active,.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.btn.disabled,.btn[disabled],fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
    -webkit-box-shadow: none;
    box-shadow: none
}

a.btn.disabled,fieldset[disabled] a.btn {
    pointer-events: none
}

.btn-default {
    color: #335075;
    background-color: #eaebed;
    border-color: #dcdee1
}

.btn-default.focus,.btn-default:focus {
    color: #335075;
    background-color: #cfd1d5;
    border-color: #989da6
}

.btn-default:hover {
    color: #335075;
    background-color: #cfd1d5;
    border-color: #bbbfc5
}

.btn-default.active,.btn-default:active,.open>.btn-default.dropdown-toggle {
    color: #335075;
    background-color: #cfd1d5;
    background-image: none;
    border-color: #bbbfc5
}

.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.btn-default.dropdown-toggle.focus,.open>.btn-default.dropdown-toggle:focus,.open>.btn-default.dropdown-toggle:hover {
    color: #335075;
    background-color: #bbbfc5;
    border-color: #989da6
}

.btn-default.disabled.focus,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled].focus,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover {
    background-color: #eaebed;
    border-color: #dcdee1
}

.btn-default .badge {
    color: #eaebed;
    background-color: #335075
}

.btn-primary {
    color: #fff;
    background-color: #2572b4;
    border-color: #143c5f
}

.btn-primary.focus,.btn-primary:focus {
    color: #fff;
    background-color: #1c578a;
    border-color: #000
}

.btn-primary:hover {
    color: #fff;
    background-color: #1c578a;
    border-color: #091c2d
}

.btn-primary.active,.btn-primary:active,.open>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1c578a;
    background-image: none;
    border-color: #091c2d
}

.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.btn-primary.dropdown-toggle.focus,.open>.btn-primary.dropdown-toggle:focus,.open>.btn-primary.dropdown-toggle:hover {
    color: #fff;
    background-color: #16446c;
    border-color: #000
}

.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover {
    background-color: #2572b4;
    border-color: #143c5f
}

.btn-primary .badge {
    color: #2572b4;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #1b6c1c;
    border-color: #071a07
}

.btn-success.focus,.btn-success:focus {
    color: #fff;
    background-color: #114311;
    border-color: #000
}

.btn-success:hover {
    color: #fff;
    background-color: #114311;
    border-color: #000
}

.btn-success.active,.btn-success:active,.open>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #114311;
    background-image: none;
    border-color: #000
}

.btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.btn-success.dropdown-toggle.focus,.open>.btn-success.dropdown-toggle:focus,.open>.btn-success.dropdown-toggle:hover {
    color: #fff;
    background-color: #0a270a;
    border-color: #000
}

.btn-success.disabled.focus,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled].focus,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success.focus,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover {
    background-color: #1b6c1c;
    border-color: #071a07
}

.btn-success .badge {
    color: #1b6c1c;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #4d4d4d;
    border-color: #1a1a1a
}

.btn-info.focus,.btn-info:focus {
    color: #fff;
    background-color: #343333;
    border-color: #000
}

.btn-info:hover {
    color: #fff;
    background-color: #343333;
    border-color: #000
}

.btn-info.active,.btn-info:active,.open>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #343333;
    background-image: none;
    border-color: #000
}

.btn-info.active.focus,.btn-info.active:focus,.btn-info.active:hover,.btn-info:active.focus,.btn-info:active:focus,.btn-info:active:hover,.open>.btn-info.dropdown-toggle.focus,.open>.btn-info.dropdown-toggle:focus,.open>.btn-info.dropdown-toggle:hover {
    color: #fff;
    background-color: #222;
    border-color: #000
}

.btn-info.disabled.focus,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled].focus,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info.focus,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover {
    background-color: #4d4d4d;
    border-color: #1a1a1a
}

.btn-info .badge {
    color: #4d4d4d;
    background-color: #fff
}

.btn-warning {
    color: #000;
    background-color: #f2d40d;
    border-color: #917f08
}

.btn-warning.focus,.btn-warning:focus {
    color: #000;
    background-color: #c2aa0a;
    border-color: #181501
}

.btn-warning:hover {
    color: #000;
    background-color: #c2aa0a;
    border-color: #574c05
}

.btn-warning.active,.btn-warning:active,.open>.btn-warning.dropdown-toggle {
    color: #000;
    background-color: #c2aa0a;
    background-image: none;
    border-color: #574c05
}

.btn-warning.active.focus,.btn-warning.active:focus,.btn-warning.active:hover,.btn-warning:active.focus,.btn-warning:active:focus,.btn-warning:active:hover,.open>.btn-warning.dropdown-toggle.focus,.open>.btn-warning.dropdown-toggle:focus,.open>.btn-warning.dropdown-toggle:hover {
    color: #000;
    background-color: #a08c09;
    border-color: #181501
}

.btn-warning.disabled.focus,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled].focus,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning.focus,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover {
    background-color: #f2d40d;
    border-color: #917f08
}

.btn-warning .badge {
    color: #f2d40d;
    background-color: #000
}

.btn-danger {
    color: #fff;
    background-color: #bc3331;
    border-color: #6b1d1c
}

.btn-danger.focus,.btn-danger:focus {
    color: #fff;
    background-color: #942826;
    border-color: #060202
}

.btn-danger:hover {
    color: #fff;
    background-color: #942826;
    border-color: #3b100f
}

.btn-danger.active,.btn-danger:active,.open>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #942826;
    background-image: none;
    border-color: #3b100f
}

.btn-danger.active.focus,.btn-danger.active:focus,.btn-danger.active:hover,.btn-danger:active.focus,.btn-danger:active:focus,.btn-danger:active:hover,.open>.btn-danger.dropdown-toggle.focus,.open>.btn-danger.dropdown-toggle:focus,.open>.btn-danger.dropdown-toggle:hover {
    color: #fff;
    background-color: #77201f;
    border-color: #060202
}

.btn-danger.disabled.focus,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled].focus,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger.focus,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover {
    background-color: #bc3331;
    border-color: #6b1d1c
}

.btn-danger .badge {
    color: #bc3331;
    background-color: #fff
}

.btn-link {
    font-weight: 400;
    color: #295376;
    border-radius: 0
}

.btn-link,.btn-link.active,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover {
    border-color: transparent
}

.btn-link:focus,.btn-link:hover {
    color: #0535d2;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:focus,.btn-link[disabled]:hover,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover {
    color: #6f6f6f;
    text-decoration: none
}

.btn-group-lg>.btn,.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

.btn-group-sm>.btn,.btn-sm {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-group-xs>.btn,.btn-xs {
    padding: 1px 5px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block+.btn-block {
    margin-top: 5px
}

input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block {
    width: 100%
}

.btn-default:visited {
    color: #335075
}

.btn-primary:visited {
    color: #fff
}

.btn-success:visited {
    color: #fff
}

.btn-info:visited {
    color: #fff
}

.btn-warning:visited {
    color: #000
}

.btn-danger:visited {
    color: #fff
}

.btn {
    border-style: outset;
    height: auto;
    min-height: 36px;
    min-width: 36px;
    white-space: normal
}

body .btn-primary {
    background-color: #26374a;
    border-color: #26374a
}

.btn {
    font-family: Lato,sans-serif
}

.btn-call-to-action {
    color: #fff;
    background-color: #318000;
    border-color: #458259;
    font-size: 1.1em;
    margin-bottom: 25px;
    margin-top: 15px;
    padding: .58em 1em;
    text-shadow: 1px 2px #333
}

.btn-call-to-action.focus,.btn-call-to-action:focus {
    color: #fff;
    background-color: #1d4d00;
    border-color: #192f20
}

.btn-call-to-action:hover {
    color: #fff;
    background-color: #1d4d00;
    border-color: #305a3e
}

.btn-call-to-action.active,.btn-call-to-action:active,.open>.btn-call-to-action.dropdown-toggle {
    color: #fff;
    background-color: #1d4d00;
    background-image: none;
    border-color: #305a3e
}

.btn-call-to-action.active.focus,.btn-call-to-action.active:focus,.btn-call-to-action.active:hover,.btn-call-to-action:active.focus,.btn-call-to-action:active:focus,.btn-call-to-action:active:hover,.open>.btn-call-to-action.dropdown-toggle.focus,.open>.btn-call-to-action.dropdown-toggle:focus,.open>.btn-call-to-action.dropdown-toggle:hover {
    color: #fff;
    background-color: #102900;
    border-color: #192f20
}

.btn-call-to-action.disabled.focus,.btn-call-to-action.disabled:focus,.btn-call-to-action.disabled:hover,.btn-call-to-action[disabled].focus,.btn-call-to-action[disabled]:focus,.btn-call-to-action[disabled]:hover,fieldset[disabled] .btn-call-to-action.focus,fieldset[disabled] .btn-call-to-action:focus,fieldset[disabled] .btn-call-to-action:hover {
    background-color: #318000;
    border-color: #458259
}

.btn-call-to-action .badge {
    color: #318000;
    background-color: #fff
}

.btn-call-to-action:visited {
    color: #fff
}
.small,small {
    font-size: 87%
}
.mrgn-bttm-sm {
    margin-bottom: 5px;
}